<div class="row"><div class="container-fluid"><div style="float:none!important;margin:0 auto;" class="col-md-10">
<div class="card">
    <div class="card-header card-header-icon" data-background-color="green">
        <i style="background-color: transparent!important;" class="material-icons">view_module</i>
    </div>
    <div class="card-content">
        <h4 class="card-title">Add Module</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">
                        Title
                        <small>*</small>
                    </label>
                    <input class="form-control" type="text" id="title" required="true" aria-required="true" [(ngModel)]="module.title" [ngModelOptions]="{standalone: true}">
                  <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                    <select class="selectpicker" data-style="btn btn-primary" id="project" title="Select Project" data-size="7" [(ngModel)]="module.projectid" [ngModelOptions]="{standalone: true}">
                       <option disabled selected value="0"> Select Project</option>
                      <option *ngFor="let project of projects" value="{{project.id}}">{{project.title}}</option>
                    </select>
                  <span class="material-input"></span>
                </div>
            </div>
        <div class="col-lg-6">
            <div class="form-group label-floating is-empty">
                <label class="control-label">
                    Description
                    <small>*</small>
                </label>
                <input class="form-control" type="text" id="description" required="true" aria-required="true" [(ngModel)]="module.description" [ngModelOptions]="{standalone: true}">
              <span class="material-input"></span>
            </div>
        </div>
        </div>
       
      
       
        <div class="category form-category">
            <!--<small>*</small> Required fields</div>-->
        <div class="form-footer text-right">
            <button style="background-color: #47a34b!important;" type="submit" class="btn btn-fill" (click)="addModule()">Add</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
